/*
Default CSS (Global & small screens) */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

a {
  color: darkslategrey;
}

article {
  border: 2px solid #333;
}

aside {
  background-color: #333;
  color: white;
}

nav {
  display: none;
}
/* @media format: 

@media (CONDITION){
  
  SELECTOR {
    prop: value;
  }

  SELECTOR {
    prop: value;
  }

  SELECTOR {
    prop: value;
  }
  */

  /* CSS rules for the medium size: */
  @media (min-width: 760px) {
    margin-right: 20px;
  }

  nav {
    display: block;
  }

  nav a {
    margin-right: 20px;
  }

  section {
    display: flex;
  }

  header, section {
    display: flex;
  }

  article,
  aside {
    box-sizing: border-box;
  }

  article {
    width: 75%;
  }

  aside {
    width: 25%;
  }


   /* CSS rules for the medium size: */
   @media (min-width: 1200px) {
     body{
       background-image: url(../images/background.jpeg);
       background-size: cover;
     }

     header {
       justify-content: space-between;
       background-color: rgba(255,255,255,0.6);
     }

     section{
       justify-content: space-around;
     }

     article{
       width: 50%;
       background-color: rgba(255,255,255,0.6);
      }
     }
  }
